@use "../../common/Variables/Variables.scss" as V;

.review-main-component {
    font-family: V.$ns-common-font;

    .main-review-container {
        width: 100%;
        background-color: #000;
        .split-layout-containers {
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;


            .split-container-1 {
                height: 650px;
                border-left: 2px solid grey;
                display: flex;
                align-items: center;
                justify-content: center;

                .split-image-container {
                    background-image:  url("../../../Imgs/website_images/tingey-injury-law-firm-LJhXYHxPfEY-unsplash.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 100% 100%;
                    width: 550px;
                    height: 560px;
                }
            }

            .split-container-2 {
                .split-wrapper {
                    margin-top: 100px;

                    h2 {
                        font-size: 50pt;
                        font-weight: 400;
                        text-align: left;
                        margin-left: 100px;
                        color: #fff;
                    }

                    .student-quote {
                        opacity: 0;
                        transform: translateX(-100px);
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        height: 300px;
                        transition: all .5s;

                        p {
                            transition: all .5s;
                            width: 500px;
                            padding: 0px;
                            margin: 0px;
                            font-weight: 350;
                            font-size: 27pt;
                            color: #ffffffd7;
                        }
                    }

                    .carosell-navigation {
                        margin: 10% 50% 0 50%;
                        display: grid;
                        grid-template-columns: 30px 30px 30px;
                        grid-template-rows: 1fr;
                        transition: all .5s;

                        .carosell-1 {
                            transition: all .5s;
                            width: 15px;
                            height: 15px;
                            border: solid 1px #fff;
                            border-radius: 100%;
                            margin: 0 5px 0 5px;
                        }

                        .carosell-1:hover {
                            cursor: pointer;
                            background-color: #3b8af3;
                        }

                        .cr-active {
                            background-color: #3b8af3;
                        }

                        .cr-off {
                            background-color: unset;
                        }



                    }
                }

            }
        }
    }
}