<ns-x-acdmw></ns-x-acdmw>
<ns-x-life></ns-x-life>
<ns-x-acdmq></ns-x-acdmq>
<ns-x-culture></ns-x-culture>
<ns-x-community></ns-x-community>
<ns-x-awards></ns-x-awards>
<ns-x-voices></ns-x-voices>
<ns-x-uniformdesign></ns-x-uniformdesign>
<ns-x-news></ns-x-news>
<ns-x-quotedos></ns-x-quotedos>

<!-- Student's life-->

<div class="xb-life-component">
    <div class="xb-component-wrapper">
        <div class="xb-title-area-wrapper">
            <div class="xb-title-container">Student's Life</div>
        </div>
        <div class="xb-split-view">
            <div class="xb-split-view-wrapper">
                <div class="xb-split-view-1 split-component">
                    <div class="xb-split-component xb-picture-container">
                        <div class="split-wrapper"></div>
                    </div>
                    <div class="xb-split-component xb-content">
                        <div class="split-wrapper">
                            The discipline of the students continues to improve. It has been observed that most of the
                            indiscipline cases have a link with home related challenges spilling over to the school
                        </div>
                    </div>
                </div>
                <div class="xb-split-view-2 split-component">
                    <div class="xb-split-component xb-content">
                        <div class="split-wrapper">
                            At breakfast, students are served with milk tea along with eats on Tuesday (Doughnuts),
                            Thursday (chapattis), and Saturday (Buns) Sunday (chapattis/Eggs/Maize
                        </div>
                    </div>
                    <div class="xb-split-component xb-picture-container">
                        <div class="split-wrapper"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!--Academics Quote-->
<div class="xb-academics-quote-component">
    <div class="xb-component-wrapper">
        <div class="xb-content">The Roots of Education are bitter but the fruits are sweet.</div>
    </div>
</div>


<!--Culture Gallery-->
<div class="xb-culture-component">
    <div class="xb-title-area-wrapper">
        <div class="xb-title-container">Life And Culture</div>
        <div class="xb-title-minor-container">If we are to preserve culture we must continue to create it.</div>
    </div>
    <div class="xb-component-wrapper">
        <div class="xb-components-item-wrapper">

            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>
            <ns-x-gimage></ns-x-gimage>

        </div>
    </div>
</div>

<!--Gallery Image component-->
<div class="xb-sub-image-component">
    <div class="xb-wrapper">
        <div class="xb-image-holder-component">
            <figure class="x-image-fig">
                <img src="" aria-placeholder="none" />
            </figure>
        </div>
    </div>
</div>

<!--academics component-->
<div class="xb-academics-component">
    <div class="xb-wrapper">
        <div class="tr-title">
            <div class="wrapper">Academics</div>
        </div>
        <div class="tr-x-line"></div>
        <div class="tr-x-description">Get To Know About Ndejje In a deeper Aspect</div>
    </div>
</div>


<!--Community-->

<div class="xb-community-component">
    <div class="xb-wrapper">
        <div class="xb-content-text-1">
            <div class="wrapper">
                Join The Community
            </div>
        </div>
        <div class="xb-content-text-2">
            <div class="wrapper">
                Alone we can do so little Together we can do so much
            </div>
        </div>
        <div class="xb-content-text-3">
            <ns-enroll-button></ns-enroll-button>
        </div>
    </div>
</div>

<!--Dos's Quote-->

<div class="xb-d-component">
    <div class="xb-wrapper">
        <div class="xb-text-1">
            <div class="wrapper">
                An investment in knowledge pays the best interest
            </div>
        </div>
        <div class="xb-text-2">Director Of Sudies</div>
    </div>
</div>

<!--Awards Components-->

<div class="xb-awards-component">
    <div class="xb-title-area-component">
        <div class="xb-title-container">Awards</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-main-container">
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
            <ns-x-awarditem></ns-x-awarditem>
        </div>
    </div>
</div>

<!--Awards item-->
<div class="xb-award-item">
    <div class="xb-wrapper-container">
        <div class="xb-icon-container">
            <div class="xb-icon-container-wrapper"></div>
        </div>
        <div class="xb-content-section">
            <div class="xb-content-section-wrapper"></div>
        </div>
    </div>
</div>


<!--News-->

<div class="xb-news-component">
    <div class="xb-title-area-container">
        <div class="xb-title-area">Latest News in Academics</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-wrapper-container">
            <div class="xb-split-view">
                <ns-x-newsitem></ns-x-newsitem>
                <ns-x-newsitem></ns-x-newsitem>
                <ns-x-newsitem></ns-x-newsitem>
                <ns-x-newsitem></ns-x-newsitem>
            </div>
        </div>
    </div>
</div>

<!--News item-->
<div class="xb-news-item-component">
    <div class="xb-holder-wrapper">
        <div class="xb-picture-holder-container"></div>
        <div class="xb-content-holder"></div>
    </div>
</div>



<!--Uniform design-->
<div class="xb-uniform-design-component">
    <div class="xb-title container">
        <div class="xb-title-area-wrapper">Our Uniform design</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-main-container">
            <div class="xb-container-area">
                <div class="xb-content-manager">
                    <div class="xb-split-view">
                        <div class="xb-split-view-1 view-area">
                            <div class="xb-content-1 xb-pic xbr-content">
                                <div class="xb-picture-container"></div>
                            </div>
                            <div class="xb-content-2 xbr-content xtr-info">
                                <div class="wrapper">
                                    <div class="title-component">
                                        <div class="title-wrapper">A-Level </div>
                                    </div>
                                    <div class="content-container">
                                        <div class="content-wrapper">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iusto veritatis quae eos, magni aliquam ab quasi ea excepturi esse voluptate obcaecati consequuntur accusamus. Eius optio consequuntur laboriosam voluptate hic.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-split-view-2 view-area">
                            <div class="xb-content-1 xbr-content xtr-info">
                                <div class="wrapper">
                                    <div class="title-component">
                                        <div class="title-wrapper">O-Level </div>
                                    </div>
                                    <div class="content-container">
                                        <div class="content-wrapper">
                                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus molestiae suscipit dolore ratione. Repellat consequatur nisi reiciendis voluptates, magnam cum molestias error sapiente officiis sed ratione assumenda, autem facere!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="xb-content-2 xb-pic xbr-content">
                                <div class="xb-picture-container"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Voices Component-->

<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper">
                        <div class="xb-picture-container"></div>
                        <div class="xb-description-container"></div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart">></div>
                            <video src="" class="video-provider" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl">&triangleleft;</div>
        <div class="next-ctrl">&triangleright;</div>
    </div>
</div>



<div class="xb-life-component">
    <div class="xb-component-wrapper">
        <div class="xb-title-area-wrapper">
            <div class="xb-title-container">Student's Life</div>
        </div>
        <div class="xb-split-view">
            <div class="xb-split-view-wrapper">
                <div class="xb-split-view-1 split-component">
                    <div class="xb-split-component xb-picture-container">
                        <div class="split-wrapper"></div>
                    </div>
                    <div class="xb-split-component xb-content">
                        <div class="split-wrapper">
                            The discipline of the students continues to improve. It has been observed that most of the indiscipline cases have a link with home related challenges spilling over to the school
                        </div>
                    </div>
                </div>
                <div class="xb-split-view-2 split-component">
                    <div class="xb-split-component xb-content">
                        <div class="split-wrapper">
                            At breakfast, students are served with milk tea along with eats on Tuesday (Doughnuts), Thursday (chapattis), and Saturday (Buns) Sunday (chapattis/Eggs/Maize
                        </div>
                    </div>
                    <div class="xb-split-component xb-picture-container">
                        <div class="split-wrapper"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<div class="xb-community-component">
    <div class="xb-wrapper">
        <div class="xb-sash-container">
            <div class="xb-content-text-2">
                <div class="wrapper">
                    Alone we can do so little, Together we can do so much
                </div>
            </div>
            <div class="xb-content-text-3">
                <div class="xr-button"></div>
            </div>
        </div>
        <div class="xb-content-text-1">
            <div class="wrapper">
                Join The Community
            </div>
        </div>
    </div>
</div>



