<div class="main-faqcomponent">
    <div class="main-content-layout">
        <h2>Frequently Asked Questions</h2>

        <div class="content-slider">
            <div class="info-slider-1">
                <div class="initial-display-1">
                    <p>Where can I find the headquaters of Ndejje SSS?</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="slider-expand-section">
                    <p>
                    </p>
                </div>
            </div>
            <div class="info-slider-1">
                <div class="initial-display-1">
                    What is the school fees per term?
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div class="slider-expand-section">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                    pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                </div>
            </div>
            <div class="info-slider-1">
                <div class="initial-display-1">
                    <p>How can I contact the school for any queries?</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="slider-expand-section">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                    pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                </div>
            </div>
        </div>
    </div>
</div>



<div class="main-faqcomponent">
    <div class="main-content-layout">
        <div class="content-title">
            <div class="content-title-wrapper">
                Frequently Asked Questions
            </div>
        </div>

        <div class="content-slider">
            <div class="slider-wrapper">

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">
            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">
                            <div class="ctx-pic-1 cn-pic-box">
                                <div class="cn-picture-container cn-1"></div>
                                <div class="cn-info-container">
                                    <div class="cn-info-wrapper">
                                        <div class="cn-short-title">Practice</div>
                                        <div class="cn-short-title-2">Technology</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ctx-additive-pics">
                                <div class="ctx-pic-2 cn-pic-box">
                                    <div class="cn-picture-container cn-2"></div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Practice</div>
                                            <div class="cn-short-title-2">Technology</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctx-pic-3 cn-pic-box">
                                    <div class="cn-picture-container cn-3"></div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Practice</div>
                                            <div class="cn-short-title-2">Technology</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="content-wrapper benefits-content-holder">
                                <div class="cr-title">Building Effective Students</div>
                                <div class="cr-description">

                                    Our faculty lead students to reach further, to achieve their goals and to effect
                                    change in the professions and passions they pursue.

                                </div>
                                <div class="cr-xmore" title="Read More about the interesting facts about Ndejje">Read
                                    More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="review-main-component">
    <div class="main-review-container">
        <div class="split-layout-containers">
         
            <div class="split-container-2">
                <div class="split-wrapper">
                    <h2>Students Thoughts?.</h2>

                    <div class="student-quote">
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Beatae obcaecati, alias at ut vel quaerat amet minima velit minus iusto
                            quisquam pariatur perspiciatis natus nostrum vitae officia possimus
                            nulla suscipit".
                        </p>
                    </div>

                    <div class="carosell-navigation">
                        <div class="carosell-1 cr-active" carosell-x="0"></div>
                        <div class="carosell-1 cr-off" carosell-x="1"></div>
                        <div class="carosell-1 cr-off" carosell-x="2"></div>
                    </div>
                </div>
            </div>
            <div class="split-container-1">
                <div class="split-image-container"></div>
            </div>
        </div>
    </div>
</div>


<!--mission component-->


<div class="xtr-component">
    <div class="xtr-wrapper">
        <div class="ctr-content">
            <div class="xtr-title-provider">
                <div class="wrapper">
                    Ndejje's Mission
                </div>
            </div>
            <div class="xtr-content-mgr">
                <div class="wrapper">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae commodi pariatur. Unde, iste delectus officia aliquid 
                </div>
            </div>
        </div>
    </div>
</div>




<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Uniqueness of Ndejje S.S.S
                </div>
                <div class="content-sub-title-wrapper">
                    Get to Know About the good things about Ndejje.
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-1"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-2"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-3"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-4"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-5"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-6"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>