<div class="review-main-component">
    <div class="main-review-container">
        <div class="split-layout-containers">
            <div class="split-container-1">
                <img src="#" alt="#">
            </div>

            <div class="split-container-2">
                <h2>- Student Reviews</h2>

                <div class="student-quote">
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Beatae obcaecati, alias at ut vel quaerat amet minima velit minus iusto
                        quisquam pariatur perspiciatis natus nostrum vitae officia possimus 
                        nulla suscipit".
                    </p>
                </div>

                <div class="carosell-navigation">
                    <div class="carosell-1"></div>
                    <div class="carosell-1"></div>
                    <div class="carosell-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>