<div id="main-content">
    <ns-header></ns-header>
        <div id="basic-page">
            <div class="home-view page-view" ns-route="inactive" ns-view="home-view">
                <ns-home-view></ns-home-view>
            </div>
            <div class="about-view page-view" ns-route="inactive" ns-view="about-view">
                <ns-about-view></ns-about-view>
            </div>
            <div class="blog-view page-view" ns-route="inactive" ns-view="blog-view">
                <ns-blog-view></ns-blog-view>
            </div>
            <div class="academics-view page-view" ns-route="inactive" ns-view="academics-view">
                <ns-academics-view></ns-academics-view>
            </div>
        </div>
    <ns-footer></ns-footer>
    <div class="ns-sub-components">
        <div class="banner-image"></div>
        <div class="dialog-host">
            <ns-d-staffdialog></ns-d-staffdialog>
        </div>
    </div>
</div>