
<ns-provider>
    <div id="main-content">
        <ns-header></ns-header>
            <div id="basic-page">
                <div id="home-view" active>
                    <ns-home-view></ns-home-view>
                </div>
                <div id="about-view">
                    <ns-about-view></ns-about-view>
                </div>
                <div id="blog-view">
                    <ns-blog-view></ns-blog-view>
                </div>
                <div id="academics-view">
                    <ns-academics-view></ns-academics-view>
                </div>
            </div>
        <ns-footer></ns-footer>
    </div>
</ns-provider>

