<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">

            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">
                            <div class="ctx-pic-1"></div>
                            <div class="ctx-additive-pics">
                                <div class="ctx-pic-2"></div>
                                <div class="ctx-pic-3"></div>
                            </div>
                        </div>

                    </div>
                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="cr-title">Main Goals</div>
                            <div class="cr-description"></div>
                            <div class="cr-addmore"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="cn-pic-box">
    <div class="cn-picture-container"></div>
    <div class="cn-info-container">
        <div class="cn-short-title">Practice</div>
        <div class="cn-short-title-2">Technology</div>
    </div>
</div>