<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Ndejje Flows
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>