<!--
    This is wrap area to test templates;
-->


<!--Enroll Button Component-->

<div class="enroll-ns-button">
    Enroll Button
</div>

<!--Header Component Template-->

<div class="wx-component-header-section" role="heading">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div class="badge-icon">
            </div>
            <div class="badge-title">NDEJJE SENIOR SECONDARY SCHOOL</div>
        </div>
        <!--To be reusable-->
        <ns-enroll-button></ns-enroll-button>
    </div>
    <div class="wx-navigation-bar-half-area">
        <div class="navigation-bar-wrapper">
            <div class="main-navigation-bar">
                <ul class="navigation-items">
                    <li class="Home-nav-control">
                        <a href="#">Home</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">Blog</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">About us</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">Academics</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--Footer Component Template-->

<footer class="component-footer">
    <div class="component-footer-wrapper">
        <div class="component-section-1 section-comp">
            <div class="xtr-1 xtr-w">
                <div class="wrapper">
                    <div class="tr1">Ndejje Senior Secondary School</div>
                    <div class="tr2">No Pains No Gains</div>
                </div>
            </div>
            <div class="xtr-2 xtr-w">
                <div class="wrapper">
                    <div class="tr1">Join The Community</div>
                    <ns-enroll-button></ns-enroll-button>
                </div>
            </div>
        </div>
        <div class="component-section-2 section-comp">
            <div class="xtr-1 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Info</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-number item">772410852</span>
                        <span class="x-email item">ndejje@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="xtr-2 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Address</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-address-1 item">P.O.Box 193</span>
                        <span class="x-address-2 item">Bombo, Uganda</span>
                    </div>
                </div>
            </div>
            <div class="xtr-3 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Follow</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-fl-link x-fl-facebook item"
                            title="Follow us on Facebook">Facebook</span>
                        <span class="x-fl-link x-fl-instagram item"
                            title="Follow us on Instagram">Instagram</span>
                    </div>
                </div>
            </div>
            <div class="control-component">&UpArrow;</div>
        </div>
    </div>
</footer>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit nobis aspernatur ipsum odio! Aperiam magnam quaerat alias cul