<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Ndejje Flows
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image">__image__</div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--insights view page-->

<div class="insights-view-component-area">
    <div class="view-wrapper">
        <div class="view-title-area">
            <div class="view-back-button"></div>
            <div class="view-title-banner">
                <div class="wrapper">
                    <div class="major-title"></div>
                    <div class="minor-title"></div>
                </div>
            </div>
        </div>
        <div class="split-view-content">
            <div class="wrapper">
                <div class="insight-base-image"></div>
                <div class="insight-main-content">
                    <div class="content-data">
                        <div class="content-xtr1"></div>
                        <div class="content-xt2-image"></div>
                    </div>
                </div>
                <div class="insights-footer-area"></div>
            </div>
        </div>
    </div>
</div>


<div class="xb-uniform-design-component">
    <div class="xb-title container">
        <div class="xb-title-area-wrapper">Our Uniform design</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-main-container">
            <div class="xb-container-area">
                <div class="xb-content-manager">
                    <div class="xb-split-view">
                        <div class="xb-split-view-1 view-area">
                            <div class="xb-content-1 xb-pic xbr-content">
                                <div class="xb-picture-container"></div>
                            </div>
                            <div class="xb-content-2 xbr-content xtr-info">
                                <div class="wrapper">
                                    <div class="title-component">
                                        <div class="title-wrapper">A-Level </div>
                                    </div>
                                    <div class="content-container">
                                        <div class="content-wrapper">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-split-view-2 view-area">
                            <div class="xb-content-1 xbr-content xtr-info">
                                <div class="wrapper">
                                    <div class="title-component">
                                        <div class="title-wrapper">O-Level </div>
                                    </div>
                                    <div class="content-container">
                                        <div class="content-wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="xb-content-2 xb-pic xbr-content">
                                <div class="xb-picture-container"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>