<!---    Banner Component -->


<div class="ponaco-splitview-1" export-component>
    <div class="wx-component-user-section">
        <div class="welcome-note-section">
            <div class="note-1">Ndejje Senior Secondary School</div>
            <div class="note-2">No Pain No Pains.</div>
            <ns-enroll-button></ns-enroll-button>
        </div>
    </div>
</div>

<!--Goals And benefits-->

<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="splitview">
            <div class="splitview1">
                <div class="split-view-contents">
                    <div class="content-section-title">Our Goals And Benefits</div>
                    <div class="content-section-area">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Vel debitis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat
                        optio iure natus non ducimus minus laudantium tenetur et eos quidem! Officiis
                        voluptate illo nulla harum laudantium ipsam, aliquam officia ex.</div>
                </div>
            </div>
            <div class="splitview2">
                <div class="split-view-contents">
                    <div class="major-content">
                        <div class="note-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
                            ratione corporis totam minima iusto velit laudantium neque quaerat ex natus
                            itaque alias vero facere vitae animi repellat tempore, expedita dignissimos.
                        </div>
                        <div class="note-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore
                            eum ea sint error maxime eos, quis nihil laudantium atque illo veniam delectus
                            sunt ut maiores perspiciatis saepe obcaecati laboriosam voluptate.</div>
                        <div class="content-redirect">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!---
    Joy and Pride Component
-->
<div class="ponaco-splitview-2">
    <div class="wrapper">
        <div class="grid-box-1">
            <div class="content-area-1">The school of joy and pride</div>
        </div>
        <div class="grid-box-2 grid-common-box">
            <div class="content-area-2 area-box grid-common-box">
                <div class="content-image-item"></div>
                <h2>Self-Faced Programs</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor totam dolorem dolore
                    veniam qui nostrum provident possimus perferendis velit voluptatibus
                    tempora repellendus nobis soluta dolores facere vel in, iure debitis!
                </p>
            </div>
        </div>
        <div class="grid-box-3 ">
            <div class="content-area-3 area-box grid-common-box">
                <div class="content-image-item">
                    <span class="material-icons">face</span>
                </div>
                <h2> Simple Online enrolment </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga labore vitae,
                    sequi doloribus adipisci enim obcaecati delectus autem corporis cumque aliquid eveniet recusandae id
                    aperiam! Impedit hic magnam doloribus suscipit!
                </p>
            </div>
        </div>
        <div class="grid-box-4">
            <div class="content-area-4 area-box grid-common-box">
                <div class="content-image-item"></div>
                <h2> Professional Mentors </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Numquam odio doloremque expedita et. Enim, ab facere, deserunt
                    veritatis sunt hic cupiditate dolorum excepturi ipsa inventore fugiat optio neque, ullam voluptates?
                </p>
            </div>
        </div>
    </div>

</div>

<!---
    Quote Component
-->

<div class="ponaco-splitview-6">
    <div class="wx-component-6">
        <div class="main-content-holder">
            <div class="x-content-1">The future belongs to those who believe in there dreams</div>
            <div class="x-contentdesign"></div>
            <div class="x-content-2">Dr. Charles Kahigiriza</div>
        </div>
    </div>
</div>


<!--Overflow-->

<div class="overflow-navigation-bar">
    <div class="badge-wrapper">
        <div class="badge-icon">
        </div>
        <div class="badge-title">NDEJJE SENIOR SECONDARY SCHOOL</div>
    </div>
    <div class="control-links">
        <div class="navigation-bar-wrapper">
            <div class="main-navigation-bar">
                <ul class="navigation-items">
                    <li class="Home-nav-control">
                        <a href="#">Home</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">Blog</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">About us</a>
                    </li>
                    <li class="Home-nav-control">
                        <a href="#">Academics</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ns-enroll-button></ns-enroll-button>

</div>




<div class="wx-component-header-section" role="heading">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon">
            </div>
            <div class="badge-title">NDEJJE SENIOR SECONDARY SCHOOL</div>
        </div>
        <ns-enroll-button></ns-enroll-button>
    </div>


    <div class="wx-navigation-bar-half-area">
        <div class="navigation-bar-wrapper">
            <div class="main-navigation-bar">
                <ul class="navigation-items">
                    <li id="Home-nav-control">
                        <span>Home</span>
                    </li>
                    <li id="blog-nav-control">
                        <span>Blog</span>
                    </li>
                    <li id="about-nav-control">
                        <span>About us</span>
                    </li>
                    <li id="academics-nav-control">
                        <span>Academics</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wx-bars">
        <i class="fa-regular fa-bars"></i>
    </div>
</div>



<div class="pride-x-component">
    <div class="welcome-text">
        <div class="welcome-text-wrapper">
            No Pains No Gains
        </div>
    </div>
    <div class="welcome-text-2 svg-container">
        <div class="svg-container-wrapper">Ndejje S.S.S</div>
    </div>
    <div class="control-button-container">
        <div class="expl-button-container">Explore</div>
    </div>
</div>

<svg>
    Hello 
</svg>



<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Uniqueness of Ndejje S.S.S
                </div>
                <div class="content-sub-title-wrapper">
                    Get to Know About the good things about Ndejje.
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-1"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-2"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-3"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-4"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                        <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                            because of the
                                            great wall of school which destroys there social life.</div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                        <div class="card-content">
                            <div class="card-content-wrapper">
                                <div class="card-content-image cg-5"></div>
                                <div class="card-content-info">
                                    <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                    <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                        because of the
                                        great wall of school which destroys there social life.</div>
                                    <div class="x-title-btn">
                                        <div class="x-btn-wrapper ctrinfo">
                                            <div class="sl-button">&RightArrow;</div>
                                            <div class="sl-text">Read More From Interact Club.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-x-component">
                    <div class="card-content">
                        <div class="card-content-wrapper">
                            <div class="card-content-image cg-6"></div>
                            <div class="card-content-info">
                                <div class="x-title-1 ctrinfo">Relating And Knowing Other Students</div>
                                <div class="x-title-2 ctrinfo">Many Students have suffered a social boundary
                                    because of the
                                    great wall of school which destroys there social life.</div>
                                <div class="x-title-btn">
                                    <div class="x-btn-wrapper ctrinfo">
                                        <div class="sl-button">&RightArrow;</div>
                                        <div class="sl-text">Read More From Interact Club.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pride-x-component">
    <div class="container">
    <div class="welcome-text">
        <div class="welcome-text-wrapper">
            No Pains No Gains
        </div>
    </div>
    <div class="control-button-container">
        <div class="expl-button-container" title="Explore the Goodness of the School of Joy And Pride">Explore</div>
    </div>
    </div>
</div>