<ns-provider>
    <div id="main-content">
        <ns-header></ns-header>
        <div id="basic-page">
            <div id="home-view" active>
                <ns-home-view></ns-home-view>
            </div>
            <div id="about-view">
                <ns-about-view></ns-about-view>
            </div>
            <div id="blog-view">
                <ns-blog-view></ns-blog-view>
            </div>
            <div id="academics-view">
                <ns-academics-view></ns-academics-view>
            </div>
        </div>
        <ns-footer></ns-footer>
    </div>
</ns-provider>


<div class="pride-x-component">
    <div class="container">
    <div class="welcome-text">
        <div class="welcome-text-wrapper">
            No Pains No Gains
        </div>
        <div class="xtr-2">
            #Joy&Pride
        </div>
    </div>
    <div class="control-button-container">
        <div class="expl-button-container" title="Explore the Goodness of the School of Joy And Pride">Explore</div>
    </div>
    </div>
</div>

<div class="corevalues-main-section-component">
    <div class="intro-section">
        <h2>Our Core Values</h2>
        <p>The core values are the guiding principles that dictate the
            behavior and action of the Ndejje S.S.S community. Living those
            core values helps us to determine whether we are on the right
            path and fulfilling our goals as a school. The core values
            make us a community and a people with a difference,
            a distinct culture, behavior and personality
        </p>
    </div>
    <div class="main-content-container">
        <div class="wrapper">
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Excellence</h2>
                    <div class="arithmetic">
                        <h2>01</h2>
                    </div>
                </div>
    
                <p>Inculcation of a culture of always demanding the very best in all spheres that govern the school. All key
                    Stakeholders should strive for high strive for high standards and quality performance, whatever the
                    circumstances.
                </p>
            </div>
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Integrity and Time management</h2>
                    <div class="arithmetic">
                        <h2>02</h2>
                    </div>
                </div>
    
                <p>Conducting ourselves in an irreproachable manner and utilizing limited time efficiently</p>
            </div>
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Innovativeness</h2>
                    <div class="arithmetic">
                        <h2>03</h2>
                    </div>
                </div>
    
                <p>We embraced a dynamic technology-based culture that constantly questions the status quo and welcomes
                    changes to improve and value to existing programs.
                </p>
            </div>
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Godliness</h2>
                    <div class="arithmetic">
                        <h2>04</h2>
                    </div>
                </div>
    
                <p>Leading a life of faith in God and understanding the importance of living a virtuous and reverent life,
                    which is rooted in the Bible.
                </p>
            </div>
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Patriotism</h2>
                    <div class="arithmetic">
                        <h2>05</h2>
                    </div>
                </div>
    
                <p>Attaching ourselves to the country, driven by a national pride to accommodate the community’s
                    diversities.
                </p>
            </div>
            <div class="split-section-1">
                <div class="title-holder">
                    <h2>Hard Work</h2>
                    <div class="arithmetic">
                        <h2>06</h2>
                    </div>
                </div>
    
                <p>Make every effort to fulfill our potential to the best. Be productive even when faced with challenges.
                </p>
            </div>
        </div>
       
    </div>
</div>



<div class="historyComponent">
    <div class="main-historysection-container">
        <div class="split-layout-divider">
            <div class="section-content-1">
                <h2>History Of the School</h2>
                <p>View the history of the school</p>
                <button>Read more</button>
                <div class="img-container"></div>
            </div>
            <div class="section-content-2">
                <div class="content-container left">
                    <div class="content">
                        <h2>1963</h2>
                        <p>Tito Ssesanga Walusimbi, the headteacher of Ndejje JUnior school  started a fundraising to build
                            a secondary school on the vast land on which the Junior school sat.
                        </p>
                    </div>
                </div>
                <div class="content-container right">
                    <div class="content">
                        <h2>1963</h2>
                        <p>
                            Ndejje SS was born as a mixed O-level secondary school with Walusimbi as its first headteacher
                        </p>
                    </div>
                </div>
                <div class="content-container left">
                    <div class="content">
                        <h2>1986</h2>
                        <p>Ndejje SS was the first school to experience free education currently enjoyed by Universal Secondary Schools in the country. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper">
                        <div class="xb-picture-container"></div>
                        <div class="xb-description-container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolore magn</div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="videx-x-conveyor">
                        <div class="video-icon-restart">></div>
                            <video src="" class="video-provider" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl">&triangleleft;</div>
        <div class="next-ctrl">&triangleright;</div>
    </div>
</div>




<div class="wx-component-header-section" role="heading">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon"></div>
            <div class="badge-title">Ndejje Senior Secondary School</div>
        </div>

        <div class="wx-navigation-bar-half-area">
            <div class="navigation-bar-wrapper">
                <div class="main-navigation-bar">
                    <ul class="navigation-items">
                        <li id="Home-nav-control">
                            <a class="active-link" href="#Home">Home</a>
                        </li>
                        <li id="blog-nav-control">
                            <a href="#Blog" >Blog</a>
                        </li>
                        <li id="about-nav-control">
                            <a href="#Aboutus">About us</a>
                        </li>
                        <li id="academics-nav-control">
                            <a href="#Academics">Academics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accord-options">
            <div class="control-options">
                <div class="facebook-link" title="Join us On Facebook">
                    <div class="cr-icon-wrapper cr-facebook"></div>
                </div>

                <div class="instagram-link" title="Follow us on Instagram">
                    <div class="cr-icon-wrapper cr-instagram"></div>
                </div>

                <div class="twitter-link" title="Follow us on Twitter">
                    <div class="cr-icon-wrapper cr-twitter"></div>
                </div>
                <div class="theme-manager" title="Change theme">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
        </div>
    </div>
</div>
</div>
