@use "../../common/Variables/Variables.scss"as V;

ns-d-staffdialog {

    display: block;
}

ns-d-staffdialog .xb-dialog-component {
    font-family: V.$ns-common-font;
    height: 600px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #faf8f8;
    margin: auto;
    width: 97%;
    .cb-dashboard-control {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 80px;
        width: 100%;
        background-color: rgb(238, 238, 238);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title-area {
            margin: 20px 0px 0px 20px;
            font-size: 25pt;
        }

        .close-control-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 60px;

            .close-control {
                font-size: 30pt;
            }
        }
    }

    .cb-dashboard-content {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .cb-dashboard-content-wrapper {
            margin-left: 30px;
            margin-right: 30px;
            height: 500px;
         
            display: grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 50px;
            row-gap: 50px;
        }
    }
}