<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./card.css">
    <title>Document</title>
</head>
<body>
    
    <div class="content-card">
        <div class="content-card-wrap-mask">
            <div class="wrapper">
                <div class="title">The Glamour</div>
                <div class="description">Enjoy the where abouts concerning Ndejje SSS</div>
            </div>
        </div>
    </div>
</body>
</html>


<!--missions-->

<div class="ponaco-x-component misson-container">
    <div class="content-wrapper">
        <div class="title-area">
            <div class="sr1">Mission</div>
        </div>
        <div class="description-area">
            <div class="sr2">From rigorous academics to the beautiful greens of our tree-filled campus to the activity of student life, Muhlenberg has it all. Switch between Live and Learn to explore everything Muhlenberg has to offer</div>
        </div>
    </div>
</div>