/*
    Banner BreakPoints
*/
@media (max-width: 832px) {
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-1 {
    font-size: 40pt;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-2 {
    font-size: 14pt;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section ns-enroll-button > div {
    font-size: 11pt;
  }
}

@media (max-width: 651px) {
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-1 {
    font-size: 30pt;
    width: 400px;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-2 {
    font-size: 12pt;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section ns-enroll-button > div {
    font-size: 10pt;
  }
}

@media (max-width: 515px) {
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section {
    margin-left: 36px;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-1 {
    font-size: 20pt;
    width: 300px;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section .note-2 {
    font-size: 11pt;
  }
  ns-x-banner .ponaco-splitview-1 .wx-component-user-section .welcome-note-section ns-enroll-button > div {
    font-size: 9pt;
    height: 40px;
    width: 140px;
  }
}

/*

    Pride,Benefit Snap Point : 620px
*/
@media (max-width: 690px) {
  ns-x-pride .ponaco-splitview-2 .wrapper {
    display: block;
  }
  ns-x-pride .ponaco-splitview-2 .wrapper .grid-x-box .content-box {
    margin-top: 80px;
  }
  ns-x-pride .ponaco-splitview-2 .wrapper .grid-x-box .content-box .content-image-item {
    width: 100%;
    font-size: 35pt;
  }
  ns-x-benefits .ponaco-splitview-3 .wx-component-3 .splitview {
    display: block;
  }
  ns-x-benefits .ponaco-splitview-3 .wx-component-3 .splitview .splitview2 .split-view-contents {
    margin-top: 20px;
  }
  ns-x-benefits .ponaco-splitview-3 .wx-component-3 .splitview .splitview2 .major-content .content-redirect {
    height: 40px;
    width: 140px;
  }
}

@media (max-width: 853px) {
  ns-x-insights .ponaco-splitview-5 .vw-1 .vw-content-2-cards .vw-content-cards-wrapper .wrapper-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ns-x-insights .ponaco-splitview-5 .vw-1 .vw-content-2-cards .vw-content-cards-wrapper .wrapper-2 .vw-card {
    margin: 20px 0px 20px 0px;
    width: 90%;
  }
}

/*
Snap points for the font size, Pride,benefits and insights
*/
@media (max-width: 925px) {
  ns-x-pride {
    --ns-pride-title-font-size: 20pt;
    --ns-grid-title-font-size: 1.3rem;
    --ns-grid-description-font-size: 11pt;
    --ns-icon-size: 25pt;
  }
  ns-x-benefits {
    --ns-maintitle-font-size: 20pt;
    --ns-description-font-size: 11pt;
    --ns-viewmore-font-size: 11pt;
  }
  ns-x-insights {
    --ns-insights-majorTitle-Fontsize: 20pt;
    --ns-insights-subcontent-Fontsize: 15pt;
    --ns-insight-viewmore-Fontsize: 11pt;
    --ns-vw-card-title-fontsize: 15pt;
    --ns-vw-card-description-fontsize: 13pt;
    --ns-vw-card-insight-like: 11pt;
  }
}

/*
Snap Points for the Quote
*/
@media (max-width: 976px) {
  ns-x-quote {
    --ns-major-Fontsize: 65pt;
    --ns-minor-Fontsize: 14pt;
  }
}

@media (max-width: 863px) {
  ns-x-quote {
    --ns-major-Fontsize: 55pt;
    --ns-minor-Fontsize: 14pt;
  }
}

@media (max-width: 667px) {
  ns-x-quote {
    --ns-major-Fontsize: 45pt;
    --ns-minor-Fontsize: 14pt;
    --ns-content-size: 487px;
  }
}
/*# sourceMappingURL=viewHomeMediaQueries.css.map */