<!--arrangement-->
<ns-x-welcomenote></ns-x-welcomenote>
<ns-x-glance></ns-x-glance>
<ns-x-xgoal></ns-x-xgoal>
<ns-x-staffview></ns-x-staffview>
<ns-x-vidinterview></ns-x-vidinterview>

<!--About component-->
<div class="xb-about-component">
    <div class="xb-wrapper">
        <div class="tr-title">
            <div class="wrapper">About Us</div>
        </div>
        <div class="tr-x-line"></div>
        <div class="tr-x-description">Get To Know About Ndejje In a deeper Aspect</div>
    </div>
</div>

<div class="xb-goal-component">
    <div class="xb-wrapper">
        <div class="tr-title-area-wrapper">
            <div class="tr-title-container">Our Vision</div>
        </div>
        <div class="tr-description-wrapper">
            <div class="tr-description-container">A Christ – centered school nurturing holistically component citizens for development and prosperity.</div>
        </div>
    </div>
</div>


<div class="xb-about-component">
    <div class="xb-wrapper">
        <div class="tl-x-o-text">A Reflection of the Purpose and Personality of Ndejje.</div>
        <div class="xl-sub-content">...About us...</div>
    </div>
</div>

<!--
    Glance Component
-->

<div class="xb-glance-component">
    <div class="xb-wrapper">
        <div class="tr-split-view">
            <div class="tr-view-1">
                <div class="tr-view-1-wrapper">
                    <div class="tr-data-cpr">
                        <div class="cpr-wrapper">
                            <div class="cl-title">
                                <div class="cl-title-wrapper">Boys</div>
                            </div>
                            <div class="cl-figure">
                                <div class="cl-figure-wrapper">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="tr-data-cpr">
                        <div class="cpr-wrapper">
                            <div class="cl-title">
                                <div class="cl-title-wrapper">Boys</div>
                            </div>
                            <div class="cl-figure">
                                <div class="cl-figure-wrapper">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="tr-data-cpr">
                        <div class="cpr-wrapper">
                            <div class="cl-title">
                                <div class="cl-title-wrapper">Boys</div>
                            </div>
                            <div class="cl-figure">
                                <div class="cl-figure-wrapper">100</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tr-view-2">
                <div class="tr-view-2-wrapper">
                    <div class="cl-title-area">Ndejje At A Glance</div>
                    <div class="cl-picture-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--xGoal-->

<div class="xb-goal-component">
    <div class="xb-wrapper">
        <div class="tr-title-area-wrapper">
            <div class="tr-title-container">Our Vision</div>
        </div>
        <div class="tr-description-wrapper">
            <div class="tr-description-container">Lorem ipsum dolor sit amet consectetur adipisicin ipsum dolor sit amet
                consectetur adipisicin</div>
        </div>
    </div>
</div>



<!--Staff view-->

<div class="xb-staffview">
    <div class="xb-wrapper">
        <div class="tr-title-area-wrapper">
            <div class="tr-title-container">Staff Members</div>
        </div>
        <div class="tr-container-elements">
            <div class="tr-container-wrapper">
                <div class="tr-view-1">
                    <div class="tr-view-1-wrapper">
                        <div class="cl-view-1">
                            <div class="cl-picture-container"></div>
                        </div>
                        <div class="cl-view-2">
                            <div class="cl-content-text-holder">
                                <div class="ty-1">Meet Our HeadTeacher</div>
                                <div class="ty-2">On behalf of the School Administration, I welcome you all to this
                                    platform in the name of our Lord Jesus Christ and Saviour. Ndejje Senior Secondary
                                    School is one of the top Church of Uganda schools whose success is a result of the
                                    visionary leadership it has had for the last thirty years.</div>
                                <div class="ty-3">Ndejje has distinguished itself in providing holistic Education that
                                    brings up a balanced person empowered with relevant knowledge, skills and values to
                                    be a successful National and Global citizen.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tr-view-2">
                    <div class="tr-view-2-wrapper">
                        <div class="tr-content">
                            <div class="tr-content-wrapper">
                                <div class="tr-members-wrapper">
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                </div>
                            </div>
                        </div>
                        <div class="tr-content-2">
                            <div class="selective-btn">View More</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Staff memeber-->
<div class="xb-cl-memeber">
    <div class="xb-cl-wrapper">
        <div class="xb-picture-container">
            <div class="xb-picture-container-wrapper"></div>
        </div>
        <div class="xb-content">
            <div class="xb-content-wrapper">
                <div class="xb-ct-1 xb-name xb-text">Kalema Pius</div>
                <div class="xb-ct-2 xb-post xb-text">Publiciy Secretary ICT club</div>
                <div class="xb-ct-3 xb-link xb-text">@Kalema Pius</div>
            </div>
        </div>
    </div>
</div>

<!--staff Dialog-->
<div class="xb-dialog-component">
    <div class="cb-dashboard-control">
        <div class="title-area">
            <div class="title-area-wrapper">More of Our Staff Members</div>
        </div>
        <div class="close-control-wrapper">
            <div class="close-control">&times;</div>
        </div>
    </div>
    <div class="cb-dashboard-content">
        <div class="cb-dashboard-content-wrapper">
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
            <ns-x-member></ns-x-member>
        </div>
    </div>
</div>


<div class="xb-vid-interview">
    <div class="xb-title-area">
        <div class="wrapper">Here From Our Students.</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-content-container">
            <div class="vid-cover-poster">
                <div class="wrapper">
                    <div class="xty-image-control">
                        <div class="xty-ctrl"></div>
                    </div>
                    <div class="xty-video-control">
                        <video src="" controls id="interview-video"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">
            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">

                            <div class="ctx-additive-pics">
                            </div>
                        </div>
                    </div>

                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="content-wrapper benefits-content-holder">
                                <div class="cr-title">Building Effective Students</div>
                                <div class="cr-description">

                                    Our faculty lead students to reach further, to achieve their goals and to effect
                                    change in the professions and passions they pursue.

                                </div>
                                <div class="cr-xmore" title="Read More about the interesting facts about Ndejje">Read
                                    More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="wrapper">
    <span class="cl1">To</span>nurture highly knowledgeable and productive <span>citizens</span> through holistic
    education based on <span>Christian values</span> for socio-economic transformation.
</div>




<div class="xtr-component">
    <div class="subo">
        <div class="tl1"></div>
        <div class="tl2"></div>
    </div>
    <div class="xtr-wrapper">
        <div class="ctr-content">
            <div class="xtr-title-provider">
                <div class="wrapper">
                    ...Our Mission...
                </div>
            </div>
            <div class="xtr-content-mgr">
                <div class="wrapper">
                    <span class="cl1">T</span>o nurture highly knowledgeable and productive <span>citizens</span>
                    through holistic education based on <span>Christ</span>ian values for socio-economic transformation.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ponaco-component-edu">
    <div class="sudo-elements">
        <div class="ser ser1"></div>
        <div class="ser ser2"></div>
        <div class="ser ser3"></div>
        <div class="ser ser4"></div>
        <div class="ser ser5"></div>
        <div class="ser ser6"></div>
        <div class="ser ser7"></div>
    </div>
    <div class="wrapper">
        <div class="info"><span class="ctr"><span class="cl">J</span>oy </span>And <span class="ctr"><span
                    class="cl">P</span>ride!</span></div>
    </div>
</div>



<div class="xb-staffview">
    <div class="xb-wrapper">
        <div class="tr-title-area-wrapper">
            <div class="tr-title-container">Meet Our Staff Members</div>
        </div>
        <div class="tr-container-elements">
            <div class="tr-container-wrapper">
                <div class="tr-view-1">
                    <div class="tr-view-1-wrapper">
                        <div class="cl-view-1">
                            <div class="cl-picture-container">_image_</div>
                        </div>
                        <div class="cl-view-2">
                            <div class="cl-content-text-holder">
                                <div class="ty-1">Our HeadTeacher</div>
                                <div class="ty-2">On behalf of the School Administration, I welcome you all to this platform in the name of our Lord Jesus Christ and Saviour. Ndejje Senior Secondary School is one of the top Church of Uganda schools whose success is a result of the visionary leadership it has had for the last thirty years.</div>
                                <div class="ty-3">Ndejje has distinguished itself in providing holistic Education that brings up a balanced person empowered with relevant knowledge, skills and values to be a successful National and Global citizen.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tr-view-2">
                    <div class="tr-view-2-wrapper">
                        <div class="tr-content">
                            <div class="tr-content-wrapper">
                                <div class="tr-members-wrapper">
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                    <ns-x-member></ns-x-member>
                                </div>
                            </div>
                        </div>
                        <div class="tr-content-2">
                            <div class="selective-btn">View More</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>