@use "./Variables.scss" as V;
ns-x-acdmq {
    display: block;
}

ns-x-acdmq .xb-academics-quote-component {
    font-family: V.$ns-common-font;
    width: 100%;
    height: 250px;
    border: 1px solid red;
    .xb-component-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: inherit;
        .xb-content {
            width: fit-content;
            height: fit-content;
            font-size: 30pt;
        }
    }

}