@use "./Variables.scss" as V;


ns-x-awards {
    display: block;
}

ns-x-awards .xb-awards-component {
    font-family: V.$ns-common-font;
    width: 100%;

    .xb-title-area-component {
        @include V.center();
        width: 100%;
        height: 95px;
        .xb-title-container {
            font-size: 35pt;
        }
    }
    .xb-wrapper {
        width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .xb-main-container {
            width: fit-content;
            display: grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 30px;
            row-gap: 30px;
        }
    }
}
