@use "./Variables.scss" as V;


ns-x-community {
    display: block;
}

ns-x-community .xb-community-component {
    width: 100%;
    height: fit-content;
    font-family: V.$ns-common-font;
    .xb-wrapper {
        width: 100%;

        .xb-content-text-1 {
            font-size: 44pt;
            height: 150px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .xb-content-text-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24pt;
            height: 40px;
            font-weight: 350;
        }
        .xb-content-text-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
        }
    }
}