@use "./Variables.scss"as V;

ns-x-acdmw {
    display: block;
}

ns-x-acdmw .xb-academics-component { 
    width: 100%;
    height: 450px;
}

ns-x-acdmw .xb-academics-component {
    font-family: V.$ns-common-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .xb-wrapper {
        width: fit-content;
        margin-left: 50px;
        height: 180px;

        .tr-title {
            width: fit-content;
            .wrapper{
                font-size: 54pt;
                width: 300px;
                font-weight: 300;
            }
        }
        .tr-x-line {
            transition: all .5s;
            background-color: black;
            height: 4px;
            opacity: 0;
            width: 0px;
        }
        .tr-x-description {
            color: rgba(0, 0, 0, 0.61);
            margin-top: 10px;
            font-size:18pt;
        }
    }
}

