@use "./Variables.scss" as V;

//Welcome Note Animation 





ns-x-banner {
    display: block;
    width: 100%;
}

ns-x-banner .ponaco-splitview-1 {
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    font-family: V.$ns-common-font;
    // background-image:    linear-gradient(to top, #000, #4084e9, #2473e9);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;

    .wx-component-user-section {
        width: 100%;
        height: 600px;
        transition: all 1.5s;

        .welcome-note-section {
            border-left: 2px solid white;
            width: fit-content;
            transition: all 1.5s ease;
            margin-top: 320px;
            padding-left: 30px;
            margin-left: 30px;

            opacity: 0;
            transform: translateX(-50px);

            .note-1 {
                color: #e6e6e6;
                // font-family: 'Times New Roman', Times, serif;
                word-wrap: break-word;
                transition: all 1.5s;
                width: 700px;
                font-size: 60pt;
                margin-bottom: 10px;
            }

            .note-2 {
                //  font-family: 'handlee'cursive;
                color: #ffffffd7;
                text-transform: capitalize;
                transition: all 1.5s;

                font-size: 16pt;
                margin-bottom: 10px;
            }
        }
    }
}