

.banner-image {
    position: absolute;
    top: 0px;
    width: 100rem;
    height: calc(600px + 130px);
    z-index: -1;
    // background-color: rgba(0, 0, 0, 0.171);
    background-image: url("./Imgs/simple/girl.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}