@use "./Variables.scss" as V;


//should have moving animation to the right nonstop
.article-section2-content {
    margin: 100px 0 100px 0;

    .sec2-master-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .ms-x-1 {
            font-size: 30pt;

            .ms-img {
                width: fit-content;
                height: fit-content;
            }
        }
    }
}