@use "./Variables.scss" as V;


ns-x-corevalues {
    display: block;
    width: 100%;

}

.corevalues-main-section-component {
    font-family: V.$ns-common-font;

    .intro-section {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateX(-100px);
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.73)), url('./Imgs/new/riccardo-annandale-7e2pe9wjL9M-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        top: 0px;

        .clb {
            z-index: -1;
        }

        .colium-banner-2 {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.322);
            backdrop-filter: blur(8px);

            width: 90%;
            height: 500px;
            transition: all .5s;

        }

        h2 {
            color: #fff;
            font-size: 56pt;
            font-weight: bold;
            text-align: center;
        }

        p {
            color: rgba(255, 255, 255, 0.884);
            margin-top: 15px;
            width: 70%;
            text-align: center;
            font-size: 22pt;

            &::before {
                content: '"';
            }

            &::after {
                content: '"';
            }
        }
    }

    .main-content-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {
            padding: 50px 0px 50px 0px;
            width: fit-content;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            background-color: #0a0a0a0e;
            row-gap: 30px;

            .split-section-1 {
                &:hover {
                    .title-holder {
                        .arithmetic {
                            width: 100px !important;
                            height: 100px !important;

                            h2 {
                                font-size: 20pt;
                            }
                        }
                    }


                }

                position: relative;
                opacity: 0;
                margin: 0px 30px 0px 30px;
                background-color: #0a0a0a;
                transform: translateY(50px);
                // align-items: center;
                justify-content: center;
                height: 600px;
                box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 2px;

                p {
                    word-wrap: break-word;
                    margin-left: 30px;
                    font-size: 21pt;
                    width: 80%;
                    color: rgba(214, 214, 214, 0.822);
                }

                .title-holder {
                    margin: 40px;
                    display: grid;

                    h2 {
                        margin-top: 30px;
                        font-size: 40pt;
                        font-weight: bold;
                        color: rgb(250, 246, 246);
                    }

                    .arithmetic {
                        width: 50px;
                        height: 50px;
                        background-color: #3b8af3;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        border-bottom-left-radius: 50%;
                        transition: all .5s;

                        h2 {
                            color: #fff;
                            display: flex;
                            align-items: flex;
                            justify-content: center;
                            // padding: 10px;
                            font-size: 10pt;
                        }

                    }
                }
            }
        }

    }
}