@use "./Variables.scss" as V;

.corevalues-main-section-component {
    font-family: V.$ns-common-font;

    .intro-section {
        h2 {
            font-size: 30pt;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 15pt;
        }
    }

    .main-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .split-section-1 {
            margin: 50px ;

            p {
                font-size: 13pt;
            }

            .title-holder {
                margin: 10px;
                display: grid;
                grid-template-columns: 1fr 30px;
                grid-template-rows: 1fr;

                h2 {
                    font-size: 20pt;
                }

                .arithmetic {
                    border: solid 1px #000000;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                    h2 {
                        text-align: center;
                        padding: 10px;
                        font-size: 15pt;
                    }
                }
            }
        }
    }
}