@use "./Variables.scss"as V;



ns-x-edu {
    display: block;
    font-family:V.$ns-common-font;
}

ns-x-edu .ponaco-component-edu {

    width: 100%;
    height: 300px;

}

.ponaco-component-edu .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    .info {
        transition: all .5s;
        padding: 20px 20px 20px 20px;
        opacity: 0;
        font-size: 15pt;
        border: 5px solid black;
    }
}