@use "./Variables.scss"as V;


@keyframes slideFromTheLeft {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateX(0px);
    }
}

ns-x-benefits {
    display: block;
    --ns-x-height: 800px;
    font-family: V.$ns-common-font;
}

ns-x-benefits .ponaco-splitview-3 {
    height: var(--ns-x-height);
    width: 100%;

    .wx-component-3 {
        height: inherit;
        width: inherit;

        .split-view {
            width: 100%;
            height: inherit;
            

            .ctr-component-container {
                width: 100%;
                height: inherit;
                
                .ctr-component-wrapper {
                    width: 100%;
                    height: inherit;
                    display: grid;
                    grid-template-columns: 3fr 2fr;

              


                    .conic-section-1 {
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .ctx-pictures-wrapper {


                            width: 700px;

                          
                            display: grid;
                            grid-template-rows: 300px 300px;

                            .ctx-additive-pics {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                            }


                            .cn-pic-box {

                                position: relative;

                                >div {
                                    position: absolute;
                                }

                                .cn-picture-container {
                                    
                                    width: 100%;
                                    height: 300px;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    z-index: 1;
                                    font-size: 30pt;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .cn-1 {
                                    // background-image: linear-gradient(to top,#000,#808080,#808080);
                        
                                    background-image: linear-gradient(to top,#000,#00000034,#80808000), url("./Imgs/new/pride/DSCN1679.JPG");

                                }
                                .cn-2 {
                                    // background-image: linear-gradient(to top,#000,#4084e9,#2473e9);
                                    background-image: linear-gradient(to top,#000,#00000034,#80808000) ,url("./Imgs/new/pride/DSCN0536.JPG");
                                }
                                .cn-3 {
                                    // background-image: linear-gradient(to top,#000,#c0bdbd,#c0bdbd);

                                    background-image: linear-gradient(to top,#000,#00000034,#80808000) , url("./Imgs/new/pridE/OI_lab1.jpg");
                                    //background-image: url("");
                                }

                                .cn-info-container::after {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background: rgba(0, 0, 0, 0.979);
                                    opacity: 0;
                                    transition: all 1s;
                                    -webkit-transition: all 1s;

                                }

                                .cn-info-container {
                                    opacity: 0.9;
                                    height: 130px;
                                    width: 100%;
                                    bottom: 0px;
                                    z-index: 2;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: flex-end;



                                    .cn-info-wrapper {
                                        margin-left: 30px;
                                        width: fit-content;

                                        .cn-short-title {
                                            font-size: 15pt;
                                            margin-bottom: 11px;
                                            color: #fff;
                                            font-weight: 350;
                                        }

                                        .cn-short-title-2 {
                                            color: rgba(255, 255, 255, 0.671);
                                            font-size: 22pt;
                                            margin-bottom: 11px;
                                            font-weight: 300;

                                        }
                                    }
                                }

                            }
                        }
                    }

                    .conic-section-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;

                        .wrapper {
                            opacity: 0;
                            transform: translateY(-50px);
                            .content-wrapper {
                                margin-left: 30px;

                                .cr-title {
                                    color: #000;
                                    font-size: 45pt;
                                    
                                }

                                .cr-description {
                                    margin-top: 10px;
                                    color: #000000e1;
                                    word-wrap: break-word;
                                    width: 400px;
                                    font-size: 19pt;
                                }

                                .cr-xmore {
                                    margin-top: 20px;
                                    cursor: pointer;
                                    border: 2px solid V.$ns-layout-color;
                                    background-color: V.$ns-layout-color;
                                    color: #fff;
                                    transition: all .5s;
                                    height: 50px;
                                    width: 160px;
                                    border-radius: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 13pt;
                                    font-weight: 350;
                                    cursor: pointer;
                    
                                    &:hover {
                                        width: 190px;
                                        line-height: 10px;
                                    }
                    
                                    &:active {
                                        transform: scale(0.8);
                                    }
                                }

                            }


                        }

                    }





                }

            }
        }
    }
}