@use "./Variables.scss" as V;

.historyComponent {
    font-family: V.$ns-common-font;

    .main-historysection-container {

        .split-layout-divider {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .section-content-1 {
                h2 {
                    font-size: 30pt;
                }

                p {
                    margin-bottom: 30px;
                    font-size: 15pt;
                }

                button {
                    @include V.common_btn();
                }
            }

            .section-content-2 {
                .section-divider {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-template-rows: auto auto auto;
                    grid-column-gap: 40px;

                    .content-left {
                        .content-class-a {
                            padding-bottom: 100px;

                            p {
                                font-size: 15pt;
                            }
                        }

                        .content-class-x {
                            padding-bottom: 100px;
                            p {
                                font-size: 15pt;
                            }
                        }
                    }

                    .line-divider {
                        width: 10px;
                        height: 100%;
                        border: 2px solid #000;
                    }

                    .content-right {
                        .content-class-b {
                            padding: 50px 0;

                            p {
                                font-size: 15pt;
                            }
                        }

                        .content-class-y {
                            padding: 50px 0;

                            p {
                                font-size: 15pt;
                            }
                        }

                    }
                }
            }
        }
    }
}