@use "./Variables.scss"as V;

.historyComponent {
    font-family: V.$ns-common-font;

    .main-historysection-container {

        .split-layout-divider {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .section-content-1 {
                h2 {
                    font-size: 30pt;
                }

                p {
                    margin-bottom: 30px;
                    font-size: 15pt;
                }

                button {
                    @include V.common_btn();
                }
            }

            .section-content-2 {
                .mini-divider {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto auto auto;
                    grid-column-gap: 40px;

                    .content-class-a {
                        border: 1px solid red;
                        padding-bottom: 100px;

                        p {
                            font-size: 15pt;
                        }
                    }

                    .content-class-b {
                        padding: 50px 0;
                        border: 1px solid green;
                        p {
                            font-size: 15pt;
                        }
                    }

                    .content-class-x {
                        border: 1px solid blue;
                        p {
                            font-size: 15pt;
                        }
                    }

                    .content-class-y {
                        border: 1px solid yellow;
                        padding: 50px 0;
                        p {
                            font-size: 15pt;
                        }
                    }
                }
            }
        }
    }
}