@use "./Variables.scss" as V;

@keyframes slidein {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(15px);
    }

    100% {
        width: 100px;
        display: flex;
        opacity: 1;
        color: #fff;
        transform: translateX(0px);
    }
}


ns-x-insights {
    display: block;
    width: 100%;
}


ns-x-insights .ponaco-splitview-5 {
    font-family: V.$ns-common-font;

    width: 100%;
    height: fit-content;

    .wx-insights-component {
        width: 100%;

        .main-wrapper {

            width: 100%;

            .content-title {
                font-size: 40pt;

                .content-title-wrapper {
                    margin-left: 40px;
                }

                margin-bottom: 20px;
            }

            .cards-container {
                .card-wrapper-1 {
                    height: fit-content;
                    margin-bottom: 50px;
                }

                .card-wrapper-2 {
                    width: fit-content;
                    display: grid;
                    grid-template-columns: 600px 600px;
                    grid-template-rows: 480px 480px;
                    grid-gap: 50px;
                    margin: auto;


                    .card-x-component {
                        .card-content {
                            display: block;

                            width: fit-content;
                            text-decoration: none;

                            .card-content-wrapper {
                                position: relative;
                                width: 600px;
                                height: 480px;

                                >div {
                                    position: absolute;
                                }

                                .card-content-image {
                                    width: 100%;
                                    height: 480px;
                                    font-size: 30pt;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-image: url("./Imgs/aziz-acharki-gXndgCS-CGo-unsplash.jpg");
                                }

                                .card-content-info {
                                    bottom: 0px;

                                    .ctrinfo {
                                        margin: 0px 20px 0px 20px;
                                    }

                                    .x-title-1 {
                                        font-weight: 450;
                                        color: #fff;
                                        font-size: 22pt;
                                        margin-bottom: 8px;
                                        cursor: pointer;
                                        transition: all .5s;
                                    
                                    }

                                    .x-title-1:hover {
                                        transform: translateY(-10px);
                                    }

                                    .x-title-2 {
                                        display: none;
                                        color: #fff;
                                        font-weight: 300;
                                        margin-bottom: 10px;
                                        font-size: 13pt;
                                    }

                                    .x-title-btn {
                                        margin-bottom: 10px;

                                        .x-btn-wrapper {
                                            display: grid;
                                            grid-template-columns: 50px auto;

                                            .sl-button {
                                                font-size: 13pt;
                                                border-radius: 50%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                width: 40px;
                                                height: 40px;
                                                color: #fff;
                                                border: 1px solid #fff;
                                            }

                                            .sl-text {
                                                color: #fff;
                                                font-weight: 300;
                                                height: 45px;
                                                display: flex;
                                                align-items: center;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }

                }

            }


        }
    }


}