@use "./Variables.scss" as V;

ns-x-culture {
    display: block;
}

ns-x-culture .xb-culture-component {
    width: 100%;
    font-family: V.$ns-common-font;
    height: 800px;
    border: 1px solid red;

    .xb-title-area-wrapper {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // opacity: 0;
        transform: translateY(-100px);

        .xb-title-container {
            font-size: 35pt;
            font-weight: 300;
            width: fit-content;
            color: black;
        }

        .xb-title-minor-container {
            font-size: 23pt;
            width: fit-content;

            &::before {
                content: '"';
            }

            &::after {
                content: '"';
            }
        }
    }

    .xb-component-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .xb-components-item-wrapper {
            border: 3px solid rebeccapurple;
            display: flex;
            flex-wrap: wrap;
            

        }



    }
}