ns-x-news {
    display: block;
}

ns-x-news .xb-news-component {

    width: 100%;
    height: 800px;

    .xb-title-area-container {
        width: 100%;
        border: 1px solid blue;
        height: 140px;

    }
    .xb-wrapper-container {
        .xb-split-view {
            display: grid;
            grid-template-columns: auto auto;
        }
    }

}