@use "./Variables.scss" as V;

ns-d-nav {
    display: none;
    width: 100%;
    // position: absolute;
    top: 0px;
    .ov-wrapper{
    display: none;

        position: fixed;
        top: 0px;
        width: 100%;
        .overflow-navigation-bar {
            font-family: V.$ns-common-font;
            width: 100%;
            height: 80px;
            display: flex;
            flex-wrap: nowrap;
            border: 1px solid rgb(105, 153, 51);
              > div {
                  flex: 1;
              }
            .badge-wrapper {
                border: 1px solid green;
                margin: 15px 0px 0px 30px;
                height: 50px;
                width: 500px;
                display: grid;
                grid-template-columns: 100px 400px;
                #badge-icon {
                    margin-left: 20px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &::after{
                        content: "&";
                        font-size: 18pt;
                    }
                }
    
                .badge-title {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    color: rgb(0, 0, 0);
                    width: 100%;
                }
            }
            .control-links {
                width: 500px;
                .navigation-bar-wrapper {
                    display: grid;
                    margin: 20px 30px 0px 0px;
                    grid-template-rows: 40px 50px;
    
                    .main-navigation-bar {
                        width: 500px;
                        height: 50px;
                        display: flex;
                        align-items: center;
    
                        ul.navigation-items {
                            margin: 0px;
                            padding: 0px;
                            display: flex;
    
                            li {
                                word-wrap: unset;
                                word-break: keep-all;
                                font-size: 11pt;
                                margin: 0px 30px 5px 30px;
                                list-style: none;
                                border-bottom: 1px solid #00000000;
                                transition: all .4s;
                                a{
                                    text-decoration: none;
                                }
                                &:hover {
                                    cursor: pointer;
                                    border-bottom: 1px solid #000;
                                }
                            }
                        }
                    }
                }
            }
            .content-button{
                display: flex;
                justify-content: right;
                align-items: center;
                height: 80px;
                width: 300px;
                border: 1px solid black;
                ns-enroll-button{
                    margin: 0px 30px 0px 0px;
                }
            }
    
        }
    }
   

}
