@use "./Variables.scss"as V;

ns-x-pride {

    display: block;
    width: 100%;
}

ns-x-pride .pride-x-component {
    height: 700px;
    width: inherit;

    display: flex;
    flex-direction: column;
    font-family: V.$ns-common-font;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {

       

        .welcome-text {
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .welcome-text-wrapper {
                font-size: 70pt;
                font-weight: bolder;

                &::after {
                    content: ". ";
                }

                &::before {
                    content: " .";
                }
            }
        }

        .welcome-text-2 {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

            .svg-container-wrapper {
                color: V.$ns-layout-color;
                font-size: 55pt;

            }
        }

        .control-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80px;

            .expl-button-container {
                cursor: pointer;
                border: 2px solid V.$ns-layout-color;
                color: #fff;
                transition: all .5s;
                background-color: V.$ns-layout-color;
                @include V.center();
                @include V.button();

                &:hover {
                    background-color: unset;
                    color: #fff;
                    text-decoration: underline;
                    line-height: 10px;
                }

                &:active {
                    transform: scale(0.8);
                }
            }

        }

    }


}