@use "./Variables.scss" as V;

@keyframes slideFromAbove {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}

ns-x-quote {
    display: block;
    width: 100%;
    --ns-major-Fontsize: 65pt;
    --ns-minor-Fontsize: 15pt;
    --ns-content-size: 800px;
}

ns-x-quote .ponaco-splitview-6 {
    margin: 0 0 0px 0;

    .wx-component-6 {
        width: 100%;
        height: var(--ns-content-size);
        // background-image: url("../resources/vision.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        @include V.center();

        .main-content-holder {
            transition: all .2s;
            width: fit-content;
            font-family: V.$ns-common-font;
            opacity: 0;
            transform: translateY(50px);

            .x-content-1 {
                font-weight: 350;
                font-size: var(--ns-major-Fontsize);
                max-width: 950px;
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 20px;

                //    color: rgb(233, 233, 233);
                &::before {
                    content: '"';
                }

                &::after {
                    content: '".';
                }
            }

            .x-content-2 {
                // animation: slideFromAbove 1.5s forwards;
                text-align: center;
                font-weight: 500;
                font-size: var(--ns-minor-Fontsize);

                &::before {
                    content: "~";
                }

                &::after {
                    content: "~";
                }
            }
        }
    }

}