@use "./Variables.scss" as V;

ns-x-staffview {
    display: block;
}

ns-x-staffview .xb-staffview {
    width: 100%;
    height: auto;
}

ns-x-staffview .xb-staffview {
    font-family: V.$ns-common-font;

    .tr-title-area-wrapper {

        display: flex;
        align-items: center;
        justify-content: center;

        .tr-title-container {
            font-size: 20pt;
        }
    }
    .tr-container-elements {
        width: 100%;
        height: auto;
        .tr-container-wrapper {
            display: grid;
            grid-template-rows: 1fr 3fr;

            .tr-view-1 {
                width: 100%;
                .tr-view-1-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .cl-view-1 {
                        height: 500px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .cl-picture-container{
                            height: 150px;
                            width: 150px;
                            border: 1px solid red;
                            border-radius: 50%;
                        }
                    }
                    .cl-view-2 {
                        height: 500px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .cl-content-text-holder {
                            margin: 30px 30px 30px 30px;
                        }
                    }
                }
            }
            .tr-view-2 {
                width: 100%;
                .tr-content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    .tr-content-wrapper {
                        .tr-members-wrapper {
                            display: grid;
                            grid-template-columns: auto auto auto auto;
                            column-gap: 30px;
                        }
                    }
                }
                .tr-content-2 {
                    height: 100px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    .selective-btn {
                        @include V.common_btn();
                    }
                }
            }
        }
    }
}