@use "./Variables.scss" as V;

ns-x-life {
    display: block;
}

ns-x-life .xb-component-wrapper {
    width: 100%;
    height: 700px;
    font-family: V.$ns-common-font;
    opacity: 0;
    transform: translateY(-100px);

    .xb-title-area-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;

        .xb-title-container {
            font-size: 45pt;
            font-weight: 300;
        }
    }

    .xb-split-view {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .xb-split-view-wrapper {
            width: 650px;
            height: 550px;

            display: grid;
            grid-template-rows: 275px 275px;
            .split-component {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .xb-split-component {

                    border: 2px solid #000;                  
                }
                .xb-content{
                    background-color:#2473e9 ;
                }

                .xb-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .split-wrapper {
                        margin-left: 20px;
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }
        
        }

    }

}