@use "./Variables.scss" as V;

ns-x-titleholder {
    display: block;
}

ns-x-titleholder .main-blog-component-section {
    padding-top: 100px;
    margin-bottom: 30px;
    border: 1px solid red;
    font: V.$ns-common-font;

    .main-blog-container {
        .title-holder {
            @include V.flex-grid();
            line-height: 100px;

            .txt-1 {
                padding-right: 40px;
                font-size: 90pt;
            }
            .txt-2 {
                padding-right: 20px;
                font-size: 50pt;
            }
            .txt-3 {
                font-size: 25pt;
            }
        }
    }
}