@use "./Variables.scss" as V;

ns-x-uniformdesign {
    display: block;

}

ns-x-uniformdesign .xb-uniform-design-component {
    width: 100%;
    height: auto;
    font-family: V.$ns-common-font;

    .xb-title {
        font-size: 30pt;
        height: 100px;
        @include V.center();
    }

    .xb-wrapper {
        width: 100%;
        height: auto;
        border: 1px solid red;

        .xb-main-container {
            .xb-container-area {
                .xb-content-manager {
                    .xb-split-view {
                        .view-area {
                            height: 600px;
                            border: 2px solid purple;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            .xbr-content{
                                height: 600px;
                                border: 1px solid grey;
                            }

                            
                        }
                    }
                }
            }

        }

    }
}