ns-x-uniformdesign {
    display: block;

}

ns-x-uniformdesign .xb-uniform-design-component {
    width: 100%;
    height: auto;

    .xb-title-area-wrapper {
        font-size: 20pt;
    }
    .xb-wrapper {
        width: 100%;
        height: auto;
        border: 1px solid red;

        .xb-content-area {
            .xb-content-manager {
                 > div {
                     height: 500px;
                     display: grid;
                     grid-template-columns: 1fr 1fr;
                    .xb-pic {
                        height: 500px;
                        width: 300px;
                    }
                 }
            }
        }
    }
}