@use "./Variables.scss" as V;

ns-x-welcomenote {
    display: block;
}

ns-x-welcomenote .xb-about-component {
    width: 100%;
    height: 250px;
}

ns-x-welcomenote .xb-about-component {
    font-family: V.$ns-common-font;
    .xb-wrapper {
        width: inherit;
        margin-left: 50px;
        .tr-title {
            .wrapper{
                font-size: 55pt;
                width: 500px;
                font-weight: 300;
            }
        }
        .tr-x-line {
            background-color: black;
            height: 2px;
            width: 300px;
        }
        .tr-x-description {
            color: rgba(0, 0, 0, 0.61);
            margin-top: 20px;
            font-size:15pt;
        }
    }

}