@use "../../common/Variables/Variables.scss" as V;


.blog-trends { 
    margin: 0 40px 0 40px;

    .trend-title {
        font-size: 40pt;
        text-align: center;
        margin-bottom: 40px;
    }

    .trend-article {
        @include V.flex-box();

        .trend-picture {
            img {
                max-width: 100%;
                width: 40%;
                height: 400px;
            }
        }

        .trend-text {
            width: 40%;
            p {
                font-size: 20pt;
            }
        }
    }
}