@use "../../common/Variables/Variables.scss" as V;

.prime-article-section {
    margin: 70px;

    .prime-article {
        width: 1fr;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .prime-img {
            margin: 0 30px;

            img {
                max-width: 100%;
                width: 600px;
                height: 600px;
            }
        }

        .prime-text {
            margin-left: 30px;
            width: 800px;
            padding: 20px;

            h2 {
                font-size: 30pt;
            }

            p {
                font-size: 25pt;
            }
        }
    }
}