@use "../../common/Variables/Variables.scss" as V;

.text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    .info {
        transition: all .5s;
        padding: 20px 20px 20px 20px;
        font-size: 65pt;
        border: 5px solid black;

        .ctr {
            font-weight: bold;

            .cl {
                font-size: 100pt;
            }
        }
    }
}