@use "../../common/Variables/Variables.scss" as V;

ns-header {
    display: block;
    position: relative;
    z-index: 1000000;
    top: 0px;
    --ns-header-font-size: 10pt;
    --ns-text-color : #fff;
    --ns-navigation-color : #6a95f3;

    .wx-component-header-section {
        font-family: V.$ns-common-font;
        width: 100%;
        height: 70px;
        position: absolute;
        top: 0px;
        // background-color: rgba(245, 245, 245, 0.041);
        font-size: var(--ns-header-font-size);
        transition: height .5s ease;
        backdrop-filter: blur(8px);

        //header-component-section
        .wx-header-component-area {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: #000000b6;
            .wx-badge-wrapper {
                height: 70px;
                width: 100px;
                display: grid;
                grid-template-columns: 100px 400px;
                #badge-icon {
                    margin-top: 10px;
                    margin-left: 20px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-size: contain;
                    background-image: url("../../../Imgs/logo-banner.png");
                    background-repeat: no-repeat;
                    filter: brightness(-3);
                }

                .badge-title {
                    color: var(--ns-text-color);
                    text-transform: uppercase;
                    height: 70px;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    transition: all .5s;
                }
            }

            //navigation-component-section
        
            .wx-navigation-bar-half-area {
                width: 550px;
                height: 70px;
                .navigation-bar-wrapper{
                    height: inherit;
                    width: inherit;
                    .main-navigation-bar{
                        transition: all .5s;
                        width: inherit;
                        height: inherit;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        ul.navigation-items {
                            width: fit-content;
                            margin: 0px;
                            padding: 0px;
                            display: flex;
                            li{
                                cursor: pointer;
                                font-size: 11pt;
                                margin: 20px 25px 20px 25px;
                                list-style-type: none;
                                a.active-link {
                                    color: var(--ns-navigation-color);
                                    border-bottom-color:var(--ns-navigation-color);
                                }
                                a{
                                    color: var(--ns-text-color);
                                    font-weight: 450;
                                    border-bottom: 2px solid transparent;
                                    transition: all .5s;
                                    text-decoration: none;
                                    &:hover{
                                      border-bottom: 2px solid var(--ns-navigation-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .accord-options {
                display: flex;
                        align-items: center;
                        justify-content: center;
                .control-options {
                    display: flex;
                      >:nth-child(1) {
                         color: 	#1DA1F2;
                     }
                     >:nth-child(2){
                         color: #1DA1F2;
                     }
                     >:nth-child(3){
                        color: #1DA1F2;
                     }
                     >:nth-child(4){
                        color: #fff;
                     }

                    >div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14pt;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        transition: all .5s;
                        &:hover{
                            color: V.$ns-layout-color;
                        }
                    }
                    .theme-manager {
                        margin-left: 20px;
                        &:hover {
                            color: #000000;
                        }

                    }
                }
                .control-bars{
                    display: none;

                }
            }

        }

        .wx-bars {
            position: absolute;
            top: 20px;
            right: 30px;
            width: 50px;
            height: 50px;
            display: none;
            align-items: center;
            justify-content: center;
            color: #000000;
            font-size: 15px;

        }






    }
}