@use "../../common/Variables/Variables.scss"as V;


ns-x-community {
    display: block;
}

ns-x-community .xb-community-component {
    width: 100%;
    height: 600px;
    font-family: V.$ns-common-font;

    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.438)), url('../../../Imgs/new/DSCN1679.JPG');
    background-size: cover;
    background-repeat: no-repeat;

    .xb-wrapper {

        width: 100%;
        display: flex;
        flex-direction: row;

        .xb-content-text-1 {
            height: 600px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 80pt;
            color: #fff;
            font-weight: bold;
            .wrapper {
                
                width: 500px;
            }
        }

       .xb-sash-container {
            height: 600px;
            width: 600px;
            margin-left: 100px;
            background-color: rgba(0, 0, 0, 0.322);
            backdrop-filter: blur(8px);

            .xb-content-text-3 {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;

                .xr-button {
                    height: 50px;
                    width: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #fff;
                    color: #fff;
                    transition: all .5s;

                    &:hover {
                        background-color: #3b8af3;
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.8);
                    }
                }

            }

            .xb-content-text-2 {
                font-size: 30pt;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 100px 0px 0px 0px;
                color: #ffffffe8;
                .wrapper {
                    text-align: center;
                    width: 80%;
                }
            }
        }

    }
}