@use "../../common/Variables/Variables.scss" as V;

ns-x-pride {

    display: block;
    width: 100%;
}

ns-x-pride .pride-x-component {
    height: 500px;
    // width: inherit;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: V.$ns-common-font;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        transition: all .5s;
        opacity: 0;
        transform: translateY(-100px);
        .welcome-text {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-decoration: double;
            text-decoration-color: #fff;
            .xtr-2{
                font-size: 13pt;
                color: rgba(255, 255, 255, 0.63);
            }

            .welcome-text-wrapper {
                font-size: 70pt;
                font-weight: bolder;

                &::after {
                    content: "... ";
                }

                &::before {
                    content: " ...";
                }
            }
        }

       
        .control-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 70px;

            .expl-button-container {
                cursor: pointer;
                border: 3px solid #000;
                background-color: #3b8af3;
                color: #000;
                transition:all .8s;
                height: 60px;
                width: 170px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15pt;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    width: 190px;
                    background-color: #fff;
                }

                &:active {
                    
                    transform: scale(0.8);
                }
            }

        }

    }


}