@use "../../common/Variables/Variables.scss" as V;

//title section
.main-blog-component-section {
    height: 800px;
    // background-image: url('#');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // background: linear-gradient(0deg, black 20% ,grey 5%);

    margin-bottom: 30px;
    padding-bottom: 50px;

    .section-blog-container {
        .content-text {
            padding: 60px 0 20px 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;

            .txt-1 {
                font-size: 70pt;
            }

            .txt-2 {
                padding-left: 20px;
                font-size: 45pt;
            }

            .txt-3 {
                font-size: 35pt;
            }

            .abt-btn {
                padding: 20px 0 0 0;

                button {
                    width: 200px;
                    height: 50px;
                }
            }

        }


    }

    .title-pic-section {
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .title-pic2 {
            position: relative;
            border: solid 1px green;

            img {
                width: 350px;
                height: 250px;
            }
        }

        .title-pic1 {
            position: relative;
            border: solid 1px yellow;

            img {
                max-width: 100%;
                width: 250px;
                height: 150px;
            }
        }
    }
}