@use "../../common/Variables/Variables.scss" as V;

ns-x-glance {
    display: block;
}

ns-x-glance .xb-glance-component {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ns-x-glance .xb-glance-component {
    font-family: V.$ns-common-font;

    .xb-wrapper {
        width: 100%;
        height: auto;

        .tr-split-view {
            display: grid;
            grid-template-columns: 1fr 1fr;


            .tr-view-1 {
                border-right: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;

                .tr-view-1-wrapper {
                    display: grid;
                    grid-template-rows: 120px 120px 120px;

                    .tr-data-cpr {
                        width: 500px;
                        display: flex;
                        align-items: center;
                        .cpr-wrapper {
                            .cl-title {
                                font-size: 25pt;
                                .cl-title-wrapper{
                                    margin-bottom: 5px;
                                }
                            }
                            .cl-figure { 
                                color: rgba(0, 0, 0, 0.753);
                                font-size: 18pt;
                            }
                        }
                        
                    }
                }
            }
            .tr-view-2 {
                .tr-view-2-wrapper {
                    width: 500px;
                    .cl-title-area {
                        margin-left: 50px;
                        font-size: 30pt;
                    }
                    .cl-picture-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 400px;
                        width: 600px;
                        margin-left: 50px;
                        margin-top: 20px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../..//Imgs/new/_glance.JPG');
                    }
                }
            }
        }
    }
}