<div class="historyComponent">
    <div class="main-historysection-container">
        <div class="split-layout-divider">
            <div class="section-content-1">
                <h2>History Of the School</h2>
                <p>View the history of the school</p>
            </div>

            <div class="section-content-2">
                <div class="mini-divider">
                    <div class="content-a">
                        <p>1987</p>
                    </div>
                    <div class="content-b">
                        <p>Lorem, ipsum dolor sit amet consectetur adipi
                            leniti eveniet impedit facilis sit cupiditate?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>