@use "../../common/Variables/Variables.scss" as V;

.blog-trends {
    margin: 70px 0 100px 0;

    .trend-text {
        h1 {
            padding-left: 30px;
            font-size: 35px;
        }
    }

    .blog-cards {
        margin: 0 50px;

        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(150px, auto);

            .two {
                padding: 20px;
                border-radius: 20px 20px;
                background-image: url('../../../Imgs/colin-watts-LzzR7_jVpZI-unsplash.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: 1px solid green;
                grid-column: 2 / 4;
                grid-row: 1 / 3;


                .content-container-1 {
                    position: relative;
                    width: 100%;

                    .overlay {
                        border-radius: 20px 20px;
                        position: relative;
                        bottom: 0;
                        left: 100%;
                        right: 0;
                        background-color: #008CBA ;
                        overflow: hidden;
                        width: 0;
                        height: 300px;
                        transition: .7s ease-in-out;
                    }

                    &:hover {
                        .overlay {
                            filter: opacity(85%);
                            padding: 20px;
                            width: 50%;
                            left: 0;

                        }
                    }

                    .text {
                        color: #fff;
                        font-size: 20px;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                }
            }


        }

        .three {
            padding: 20px;
            border-radius: 20px 20px;
            background-image: url('../../../Imgs/beth-jnr-NtfFqT8JBI0-unsplash.jpg');

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid black;
            grid-column: 1;
            grid-row: 1 / 5;

            .content-container-2 {
                position: relative;
                width: 100%;

                .overlay {
                    border-radius: 20px 20px;
                    position: relative;
                    bottom: 0;
                    left: 100%;
                    right: 0;
                    background-color: #008CBA ;
                    overflow: hidden;
                    width: 0;
                    height: 600px;
                    transition: .7s ease-in-out;
                }

                &:hover {
                    .overlay {
                        filter: opacity(85%);
                        padding: 20px;
                        width: 60%;
                        left: 0;

                    }
                }

                .text {
                    color: #fff;
                    font-size: 20px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }
        }

        .four {
            padding: 20px;
            border-radius: 20px 20px;
            background-image: url('../../../Imgs/beth-jnr-NtfFqT8JBI0-unsplash.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid yellow;
            grid-column: 3;
            grid-row: 3;

            .content-container-3 {
                position: relative;
                width: 100%;

                .overlay {
                    border-radius: 20px 20px;
                    position: relative;
                    bottom: 0;
                    left: 100%;
                    right: 0;
                    background-color: #008CBA ;
                    overflow: hidden;
                    width: 0;
                    height: 300px;
                    transition: .7s ease-in-out;
                }

                &:hover {
                    .overlay {
                        filter: opacity(85%);
                        padding: 20px;
                        width: 50%;
                        left: 0;

                    }
                }

                .text {
                    color: #fff;
                    font-size: 20px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }
        }

        .five {
            padding: 20px;
            border-radius: 20px 20px;
            background-image: url('../../../Imgs/beth-jnr-NtfFqT8JBI0-unsplash.jpg');

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid orange;
            grid-column: 2;
            grid-row: 3 / 5;

            .content-container-4 {
                position: relative;
                width: 100%;

                .overlay {
                    border-radius: 20px 20px;
                    position: relative;
                    bottom: 0;
                    left: 100%;
                    right: 0;
                    background-color: #008CBA ;
                    overflow: hidden;
                    width: 0;
                    height: 300px;
                    transition: .7s ease-in-out;
                }

                &:hover {
                    .overlay {
                        filter: opacity(85%);
                        padding: 20px;
                        width: 50%;
                        left: 0;

                    }
                }

                .text {
                    color: #fff;
                    font-size: 20px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }
        }

        // .six {
        //     padding: 20px;
        //     border-radius: 20px 20px;
        //     // background-image: url('./3a710a0547c6a33ac100.jpg');
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     border: 1px solid lightblue;
        //     grid-column: 3;
        //     grid-row: 4;
        // }
    }


}