@use "../../common/Variables/Variables.scss" as V;


ns-x-quotedos {
    display: block;
}

ns-x-quotedos .xb-d-component {
    width: 100%;
    height: 500px;
    font-family: V.$ns-common-font;

    .xb-wrapper {

        .xb-text-1 {
            width: 100%;
            height: 300px;
            font-size: 60pt;
            @include V.center();
            text-align: center;
            .wrapper {
                margin-left: 100px;
                margin-right: 100px;
                width: fit-content;
            }
        }
        .xb-text-2 {
            @include V.center();
            width: 100%;
            height: 80px;
            font-size: 24pt;
            &::before{
                content: '"';
            }
            &::after{
                content: '"';
            }
        }
    }
}